.ant-typography {

  font-family: 'Red Hat Display', sans-serif !important;
}

body {
  font-family: 'Red Hat Display', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stats--container {
  height: 100vh;
}

.stats--row {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #96aeff;
}

.stats--row h2 {
  padding-bottom: 20px;
  text-transform: capitalize;
  color: white !important;
}


.daily--stats--row {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #96aeff;
}

.daily--stats--row h2 {
  padding-bottom: 20px;
  text-transform: capitalize;
  color: white !important;
}

.ant-page-header-heading-sub-title {
  background-color: #5c74c4;
  padding: 10px;
  border-radius: 20px;
  color: white !important;
  font-weight: 600;
}

.loader--container {
  height: 100vh;
}

.loader--container .ant-col {
  text-align: center;
}

.seven-days-graphs-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.local-new-cases-wrapper, .local-total-cases-wrapper {
  border-radius: 20px !important;
  background-color: #FBAB7E !important;
  background-image: linear-gradient(45deg, #FBAB7E 0%, #F7CE68 100%) !important;

}

.local-new-cases-wrapper h4, .local-new-recovered-wrapper h4, .local-new-deaths-wrapper h4, .local-total-recovered-wrapper h4, .local-total-deaths-wrapper h4, .local-total-cases-wrapper h4, .local-active-cases-wrapper h4, .local-new-active-cases-wrapper h4 {
  text-transform: capitalize;
  color: white !important;
}

.ant-typography {
  font-family: 'Red Hat Display', sans-serif !important;
}

.local-new-cases-wrapper h2, .local-new-recovered-wrapper h2, .local-new-deaths-wrapper h2, .local-total-cases-wrapper h2, .local-total-deaths-wrapper h2, .local-total-recovered-wrapper h2, .local-active-cases-wrapper h2, .local-new-active-cases-wrapper h2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 3rem !important;
  color: white !important
}

.local-new-recovered-wrapper, .local-total-recovered-wrapper {
  border-radius: 20px !important;
  background-color: #2fc770 !important;
  background-image: linear-gradient(45deg, #2fc770 0%, #12cbb1 100%) !important;
}

.local-new-deaths-wrapper, .local-total-deaths-wrapper {
  border-radius: 20px !important;
  background-color: #c72f32 !important;
  background-image: linear-gradient(45deg, #c72f32 0%, #ff7677 100%) !important;
}

.local-active-cases-wrapper, .local-new-active-cases-wrapper {
  border-radius: 20px !important;
  background-color: #bd419c !important;
  background-image: linear-gradient(45deg, #bd419c 0%, #543290 100%) !important;

}

.ant-layout-footer a {
  text-decoration: none !important;
  color: black !important
}

.ant-layout-footer a:hover {
  background-color: black;
  color: white !important;
  transition: 1000ms;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.charts-wrapper {
  height: 50vh !important
}

span.ant-page-header-heading-tags>.ant-tag {
  font-size: 1rem;
}

.ant-tag-blue {
  background: #28c881 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 20px !important;
  color: white !important;
  border-color: #28c881 !important;
  font-weight: 500
}

.ant-page-header-heading-extra > * {
  margin-left: 0px !important;
}

.ant-page-header-heading-extra button.ant-btn.ant-btn-primary {
  background-color: #1dc997 !important;
  border-color: #1dc997;
  border-radius: 20px
}

.ant-page-header-heading-extra button.ant-btn {
  border-radius: 20px;
  font-size: 18px;
  padding-bottom: 33px
}

.subscribe-button{
  margin-right: 10px !important;
}

.daily--stats--row h2, .daily--stats--row button {
  display: inline-block;
}

.daily--stats--row button {
  margin-left: 20px;
  /* background-color: #FBAB7E !important;
  background-image: linear-gradient( 45deg , #FBAB7E 0%, #F7CE68 100%); */
  color: #5c74c4;
  background: white !important;
  /* border-color: #FBAB7E; */
  border-color: #5c74c4;
  font-size: 16px;
  padding-bottom: 30px;
}

.daily--stats--row button:hover {
  background-color: #5c74c4 !important;
  border-color: #5c74c4;
}

button.ant-switch.ant-switch-checked {
  background: #18caa3;
}

button.ant-switch.ant-switch-checked .ant-switch-inner {
  color: white;
  font-weight: 500
}

.ant-switch-inner {
  font-size: 15px !important;
}

button.ant-switch {
  height: 35px !important;
  width: 150px;
}

.ant-switch-inner {
  color: black;
  font-weight: 500
}

.ant-switch-handle {
  top: 8px !important;
  left: 10px
}

button.ant-switch.ant-switch-checked.ant-switch-handle {
  top: 8px !important;
  left: calc(100% - 18px - 10px)
}



@media only screen and (min-width: 991px) {
  .hide-pc {
    display: none !important;
  }

  .stats--row {
    /* height: 50vh; */
    text-align: center;
  }
}

@media only screen and (max-width: 990px) {
  .hide-mobile {
    display: none !important;
  }

  .stats--row {
    margin-top: 100px
  }

  .charts-wrapper {
    height: 60vh !important
  }

  .ant-layout-footer {
    margin-top: 80px;
  }

  .local-active-cases-wrapper, .local-new-active-cases-wrapper, .local-new-cases-wrapper, .local-new-deaths-wrapper, .local-new-recovered-wrapper, .local-total-cases-wrapper, .local-total-deaths-wrapper, .local-total-recovered-wrapper {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 20px !important;
  }

  span.ant-page-header-heading-title {
    min-width: max-content !important;
    text-align: center;
  }

  span.ant-page-header-heading-sub-title {
    min-width: max-content;
    margin-top: 100px;
    margin-left: -283px;
  }

  span.ant-page-header-heading-title {
    min-width: max-content !important;
    text-align: center;
  }

  .ant-page-header.site-page-header.ant-page-header-ghost.ant-page-header-compact {
    margin-top: -45px;
    /* margin-bottom: -80px; */
    align-items: center;
  }

  .ant-page-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  span.ant-tag.ant-tag-blue {
    display: none;
  }

  .daily--stats--row button {
    margin-bottom: 40px;
    margin-top: -60px
}
  
}