.ant-typography {

  font-family: 'Red Hat Display', sans-serif !important;
}

body {
  font-family: 'Red Hat Display', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stats--container {
  height: 100vh;
}

.stats--row {
  text-align: center;
}

.loader--container{
  height: 100vh;
}

.loader--container .ant-col{
  text-align: center;
}

@media only screen and (min-width: 991px) {
  .hide-pc {
      display: none !important;
  }

  .stats--row {
    height: 50vh;
    text-align: center;
  }
}

@media only screen and (max-width: 990px) {
  .hide-mobile {
      display: none !important;
  }
}
